<% provide(:title, 'My Reservations') %>
<h1>Your Reservations</h1>
<table table align="center">
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Date</th>
      <th>Time</th>
      <th>Guests</th>
      <th>Special Instructions</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each  do |res| %>
      <tr>
        <td><%= res.restaurant.name %></td>
        <td><%= res.restaurant.address %></td>
        <td><%= res.restaurant.phone %></td>
        <td><%= res.date.strftime("%m/%d/%Y") %></td>
        <td><%= res.time.strftime("%I:%M%p") %></td>
        <td><%= res.guests %></td> 
        <td><%= res.comment %></td> 
        <td align="right"><%= link_to 'Edit', edit_restaurant_path(res), class:"btn btn-primary btn-xs" %></td>
        <td align="right"><%= link_to 'Delete', res, class:"btn btn-primary btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <div align="center">
  </div>
</table>
