<h1>Make a reservation</h1>
  <% if @reservation.errors.any? %>
      <ul class="error_list">
        <% @reservation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %> 
  <%= form_for(@reservation) do |f| %>
  <div class="field">
    <%= f.label :email, "E-mail" %><br>(in case we need to contact you)<br>
    <%= f.text_field :email %>
  </div>
  <br>
  <div class="field">
    <%= f.label :guests, "Number of guests" %><br>
    <%= f.number_field :guests %>
  </div>
  <br>
  <div class="field">
    <%= f.label :date, "Date and Time." %><br>
    <%= select_datetime Time.now, ampm:true %>
  </div>
  <br>
  <div class="field">
    <%= f.label :comment, "Any special intructions?" %><br>
    <%= f.text_area :comment %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
