<%provide(:title, @restaurant.name)%>
<p>
  <h1><%= @restaurant.name %></h1>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %><br>
  <%= "#{@restaurant.city}, #{@restaurant.state}, #{@restaurant.zipcode}" %><br>
</p>

<p>
  <strong>Phone:</strong>
  <%= @restaurant.phone %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
<img src="https://maps.googleapis.com/maps/api/staticmap?center=
    <%="#{@restaurant.address}, #{@restaurant.city}, #{@restaurant.state},
    #{@restaurant.zipcode}" %>&size=400x400&zoom=16&markers=color:red|
    <%="#{@restaurant.address}, #{@restaurant.city}, #{@restaurant.state},
    #{@restaurant.zipcode}" %>" >
</p>

<div>
<% if current_user %>
  <% if current_user.id == @restaurant.user_id%> <br>
      <td align="center"><%= link_to 'Edit', edit_restaurant_path(@restaurant), class:"btn btn-primary btn-xs" %></td>
      <td><%= link_to 'Delete', @restaurant, class:"btn btn-primary btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
  <%= render 'reservations/new' %>
<% end %>
<br>
  <%= link_to 'Back', restaurants_path, class:"btn btn-primary btn-xs" %>
</div>
